---
import DetailCard from './detail-card.astro';
import Icon from 'astro-icon';
import OrbitScreensImage from '../../images/randstad-screens.webp';
import listStyles from '../atoms/list-item.module.css';
---

<script src='./accordion-animation.js'></script>

<div class='sections'>
  <!-- WORK SECTION -->
  <details>
    <summary
      >Work
      <Icon name='chevron-down' width='1em' height='1em' font-size='2rem' />
    </summary>
    <div class='content'>
      <DetailCard
        date='2023'
        heading='Senior UX Engineer'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        subHeading='Randstad'
        link={{
          title: 'Randstad',
          href: 'https://www.randstad.com/about-randstad/',
          label: 'Randstad home page',
        }}
      />
      <DetailCard
        date='2021-2023'
        heading='UX Engineer'
        itemText={`Developed a robust multi-brand design system focusing on extensibility and usability. Through custom services, our team bridged the gap between design and code by fully leveraging the Figma API to create a complete connection between design tokens and react components.`}
        subHeading='Monster Worldwide'
        link={{
          title: 'Monster',
          href: 'https://www.monster.com/about',
          label: 'Monster Worldwide homepage',
        }}
      />
      <DetailCard
        date='2019-2021'
        heading='Software Engineer II'
        itemText={`Developed robust web applications and services for the purpose of optimizing the performance of production wells, aiding the field engineers who monitor them, and tracking the company’s emissions. Within my first year, I quickly got up to speed and had hands in all new and old applications developed by my team. I became the senior front-end developer of the newest cutting-edge data visualization applications for the team that aided in stochastic modeling. Later, I led the charge at the company to implement a growing design system by creating and maintaining component and color libraries for web applications at the company.`}
        subHeading='EOG Resources, Inc.'
        link={{
          title: 'EOG Resources, Inc.',
          href: 'https://www.eogresources.com/',
          label: 'EOG Resources homepage',
        }}
      />
    </div>
  </details>

  <!-- PROJECTS -->
  <details>
    <summary
      >Projects
      <Icon name='chevron-down' width='1em' height='1em' font-size='2rem' />
    </summary>
    <div class='content'>
      <DetailCard
        heading='Orbit Design System'
        date='2021-2023'
        subHeading='Randstad'
        link={{
          title: 'Randstad',
          href: 'https://www.randstad.com/about-randstad/',
          label: 'Randstad home page',
        }}
        image={{
          src: OrbitScreensImage,
          alt: 'Randstad Orbit design system screens',
        }}
      >
        <ul class={listStyles.list} slot='itemText'>
          <li>
            Leveraging a fork of the services developed by Monster, a subsidiary
            of Randstad, I took the lead in several aspects of my team's setup
            of a completely new architecture for the company`s multi-brand
            design system named Orbit for their rebranding initiatives.
          </li>
          <li>
            I lead the charge on updating our tooling for our libraries,
            including updating our unit testing suite from <pre>jest</pre> to <pre>vitest</pre>,
            rehauling and streamlining our <pre>Typescript</pre> component and style
            types for easier use with updates to <pre>styled-components</pre> v5,
            as well as simplifying our <pre>Jenkins</pre> scripts for our CI/CD pipelines.
          </li>
          <li>
            I worked daily with our design leads to create a new token system,
            documenting both design and development documentation on a
            third-party system called <a href='https://www.supernova.io/'
              >supernova.io</a
            > (a CMS-like documentation application with the sole goal of documenting
            design systems), optimizing our custom-drawn icon libraries and automating
            the publication of icons as SVG sprites, all to align with the organizations
            rebranding.
          </li>
        </ul>
      </DetailCard>
    </div>
  </details>

  <!-- EDUCATION -->
  <details>
    <summary
      >Education
      <Icon name='chevron-down' width='1em' height='1em' font-size='2rem' />
    </summary>
    <div class='content'>
      <DetailCard
        date='2017-2018'
        heading='Full Stack Flex Program Certificate'
        itemText={`A six-month intensive certificate program focusing on full-stack web development.`}
        subHeading='Houston Coding Bootcamp'
      />
      <DetailCard
        date='2010-2014'
        heading='M.A. in Humanities — History of Ideas'
        itemText={`An interdisciplinary degree that melded history and philosophy.`}
        subHeading='The University of Texas at Dallas'
      />
      <DetailCard
        date='2007-2010'
        heading='B.A. In Philosophy'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        subHeading='The University of North Texas'
      />
    </div>
  </details>
</div>

<style scoped>
  div.sections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  details {
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--corner-border-width) + var(--corner-border-thickness));
    height: 5rem;
    border: var(--corner-border-thickness) solid #0000;
    background: var(--corner-border-gradient);
    transition: all 0.3s;
    font-size: 1.75rem;
    cursor: pointer;

    &:hover {
      --corner-border-color: var(--accent);
    }

    &:focus-visible {
      --corner-border-color: var(--accent);
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  div.content {
    padding: 1rem;
  }

  summary svg {
    transition: transform 300ms ease-in-out;
  }

  details[open] + div.content {
    border-color: #888;
    transition: opacity 200ms ease-out;
  }

  details[open] summary {
    border-color: var(--accent);
    outline-offset: 0.75rem;
    svg {
      transform: rotateX(180deg);
    }
  }
</style>
