---
import BlogLayout from '../layouts/blog-layout.astro';
import listStyles from '../components/atoms/list-item.module.css';
---

<BlogLayout>
  <section>
    <h1>A Design Engineer's Blog</h1>
    <h2>Sometimes, I will post hot takes here.</h2>
    <ul class={listStyles.list}>
      <li><a href='/blog/tab-folder-idea/'>Tab Folder Idea</a></li>
    </ul>
  </section>
</BlogLayout>
