---
import BlogLayout from '../layouts/blog-layout.astro';
import listStyles from '../components/atoms/list-item.module.css';
import BlogPostOreillyCard from '../components/blog-post-oreilly-card.astro';
const blogPosts = await Astro.glob('../pages/blog/*.mdx');
---

<BlogLayout>
  <section>
    <h1>A Design Engineer's Blog</h1>
    <h2>Sometimes, I will post hot takes here.</h2>
  </section>
  <section>
    <ul class={listStyles.blog_list}>
      {
        blogPosts.map((post) => (
          <li>
            <BlogPostOreillyCard
              animalIcon='skunk'
              title={post.frontmatter.title}
              subtitle={post.frontmatter.subtitle}
              link={post.url}
            />
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>
