---
import Layout from '../layouts/layout.astro';
import '../components/portfolio-scroll.css';
import Icon from 'astro-icon';
---

<Layout title='Experimental Landing Page'>
  <!-- <div class='links'>
    <a href='/resume' title='Resume' aria-label='link to resume'
      ><Icon
        name='resume'
        fill='currentColor'
        width='1em'
        height='1em'
        font-size='2rem'
      /></a
    >
  </div> -->

  <section>
    <button class='rpg-dialog'>
      <div class='rpg-dialog-front'>
        {
          `Howdy. I'm Nick. I'm a UX Engineer. I code for a living, but I came to
          this industry a bit later in life.`
        }
        <Icon name='triangle' />
      </div>
    </button>
  </section>

  <!-- <p>
    {
      `Howdy. I'm Nick. I'm a UX Engineer. I code for a living, but I came to
            this industry a bit later in life.`
    }
  </p>
  <p>
    {
      ` Ya see, I am one of the large population of millenials and GenX kids
          that can be considered 'polymaths'. Not necessarily out of genuine
          innate inclination, but out of the necessity to succeed in an American
          education system all geared towards going to top colleges and figuring
          out your life's goals before you were even teenager. This had the side
          effects of, for many of us, of causing a ton of self-doubt, imposter
          syndrome, and fears of failure if you were not immediately good at
          something, and all the other side effects associated with an unhealthy
          drive for perfectionism.`
    }
  </p>
  <p>
    {
      `For me, this meant I have picked up innumerable hobbies, interests, and
          career paths, but stuck with very few for long.`
    }
  </p>
  <p>
    {
      `When I was a kid, I fancied myself to be a tennis pro. I began when I
          was 8 and continued through highschool, becoming state ranked by the
          time I graduated. I stopped playing tennis almost immediately going into
          college. I don't even remember why.`
    }
  </p>
  <p>
    {
      `I then dreamed to become an opera singer going into college. I had been in
          school choir since grade school and eventually became state ranked for
          vocal performance in highschool. I decided to go to college for this and
          become a classically trained opera singer. I dropped out after the first
          year.`
    }
  </p>
  <p>
    {
      `When singing didn't work out, I struggled with what to 'do' next. I went
          back to college to figure this out and I eventually had the notion I
          liked philosophy enough that I would become a career academic. I stuck
          with this through a masters degree... and then realized I had no
          interest in spending my life arguing with predominately old men, so my
          dream of being a Nietzsche scholar in Germany would remain a dream.`
    }
  </p> -->
</Layout>

<script>
  //   const buttons = document.querySelectorAll('div.rpg-dialog');
  //
  //   buttons.forEach((button) => {
  //     button.addEventListener('click', () => {
  //       button.classList.toggle('active');
  //     });
  //   });
</script>

<style>
  section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
  }

  .rpg-dialog {
    border-radius: 0.5rem;
    background-color: #63667d;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }

  .rpg-dialog-front {
    display: block;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 2px solid var(--foreground-color);
    border-radius: 0.5rem;
    transition: transform 0.1s ease;
    transform: translateY(-12px) translateX(-6px);

    height: 250px;
    width: 600px;

    svg {
      position: relative;
      bottom: -60%;
      right: -80%;
      width: 1em;
      height: 1em;
      font-size: 1rem;
      transform: rotate(180deg);
    }
  }

  .rpg-dialog:active .rpg-dialog-front {
    transform: translateY(-6px) translateX(-2px);
  }
</style>
