main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 40dvh 20dvw 50dvh 20dvw;
  gap: 40vh;
}

text {
  stroke: currentColor;
  stroke-width: 2px;
}

main p {
  font-size: clamp(1rem, 3.25vw, 2rem);
  margin: 0;

  view-timeline-name: --written-text;
  view-timeline-axis: block;
  animation-name: fade-in;
  animation-direction: normal;
  animation-timeline: --written-text;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
