.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  position: relative;
  max-width: 650px;
}

article {
  text-align: justify;
  margin: 10ch auto;
  overflow: auto;
  height: 80dvh;
  padding-inline: 1.25rem;
  p {
    margin: 1rem auto;
  }
}

.rpg-dialog {
  background-color: inherit;
  color: inherit;
  display: inline-flex;
  border: 2px dashed var(--border-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  cursor: pointer;
  outline-offset: var(--border-radius-2);
  min-height: 250px;
  width: 70dvw;
  max-width: 650px;
  margin: auto;
  margin-top: 30dvh;
  font-size: calc(1rem + 1dvw);
  text-align: start;
  position: relative;
  font-family: inherit;
  line-height: 1.35;

  &:hover,
  &:focus-visible {
    border-color: var(--accent);
  }

  svg {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 1em;
    height: 1em;
    font-size: 1rem;
    animation: jumpInfinite ease 1.5s infinite;
    transform: rotate(180deg) translateY(0);
  }

  #typed-text {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.rpg-close-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: absolute;
  height: fit-content;
  position: absolute;
  top: 2rem;
  padding-inline: 1.25rem;
}
.close-button,
.play-button {
  background-color: inherit;
  outline-offset: 4px;
  color: var(--foreground-color);

  --corner-border-width: 0.4rem;
  padding: calc(var(--corner-border-width) + var(--corner-border-thickness));
  border: var(--corner-border-thickness) solid #0000;
  background: var(--corner-border-gradient);
  transition: all 0.3s;

  font-size: 0.75rem;

  &:hover {
    --corner-border-color: var(--accent);
  }

  &:focus-visible {
    outline: none;
    --corner-border-color: var(--accent);
  }
}

.play-button {
  padding: 0.3rem;
  border: var(--corner-border-width) solid #0000;
  font-size: inherit;
  display: flex;
  place-content: center;
  place-items: center;
  height: fit-content;
  width: fit-content;
}
@keyframes jumpInfinite {
  0% {
    transform: rotate(180deg) translateY(0px);
  }
  50% {
    transform: rotate(180deg) translateY(10px);
  }
  100% {
    transform: rotate(180deg) translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100dvw;
    padding-inline: 1rem;
    height: 100%;
  }
  .rpg-dialog {
    width: 100%;
    font-size: calc(1rem + 1vw);
  }
  article {
    height: 80dvh;
    margin: 15ch auto;
    border: none;
    padding: 0;
  }
  .rpg-close-container {
    top: 3rem;
    padding-inline: 1rem;
  }
}
