---
import './accordion.css';
import DetailCard from './detail-card.astro';
---

<script src='./accordion-animation.js'></script>

<section role='group'>
  <!-- LEARN WHY DETAILS ELEMENT DOESN'T HAVE NAME ATTRIBUTE??? -->

  <!-- @ts-expect-error -->
  <details name='accordion'>
    <summary>Work</summary>
    <div class='content'>
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
    </div>
  </details>

  <!-- @ts-expect-error -->
  <details name='accordion'>
    <summary> Education</summary>
    <div class='content'>
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
      <DetailCard
        date='July 2023 - December 2023'
        heading='Randstad'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        link={{ title: 'asdfasdf', href: '#', text: 'Randstad' }}
      />
    </div>
  </details>
</section>
