---
import './accordion.css';
import DetailCard from './detail-card.astro';
import Icon from 'astro-icon';
---

<script src='./accordion-animation.js'></script>

<div class='sections'>
  <!-- LEARN WHY DETAILS ELEMENT DOESN'T HAVE NAME ATTRIBUTE??? -->

  <details>
    <summary
      >Work
      <Icon name='chevron-down' width='1em' height='1em' font-size='2rem' />
    </summary>
    <div class='content'>
      <DetailCard
        date='2023'
        heading='Senior UX Engineer'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        subHeading='Randstad'
        link={{
          title: 'Randstad',
          href: 'https://www.randstad.com/about-randstad/',
          label: 'Randstad home page',
        }}
      />
      <DetailCard
        date='2021-2023'
        heading='UX Engineer'
        itemText={`Developed a robust multi-brand design system focusing on extensibility and usability. Through custom services, our team bridged the gap between design and code by fully leveraging the Figma API to create a complete connection between design tokens and react components.`}
        subHeading='Monster Worldwide'
        link={{
          title: 'Monster',
          href: 'https://www.monster.com/about',
          label: 'Monster Worldwide homepage',
        }}
      />
      <DetailCard
        date='2019-2021'
        heading='Software Engineer II'
        itemText={`Developed robust web applications and services for the purpose of optimizing the performance of production wells, aiding the field engineers who monitor them, and tracking the company’s emissions. Within my first year, I quickly got up to speed and had hands in all new and old applications developed by my team. I became the senior front-end developer of the newest cutting-edge data visualization applications for the team that aided in stochastic modeling. Later, I led the charge at the company to implement a growing design system by creating and maintaining component and color libraries for web applications at the company.`}
        subHeading='EOG Resources, Inc.'
        link={{
          title: 'EOG Resources, Inc.',
          href: 'https://www.eogresources.com/',
          label: 'EOG Resources homepage',
        }}
      />
    </div>
  </details>

  <details>
    <summary
      >Education
      <Icon name='chevron-down' width='1em' height='1em' font-size='2rem' />
    </summary>
    <div class='content'>
      <DetailCard
        date='2017-2018'
        heading='Full Stack Flex Program Certificate'
        itemText={`A six-month intensive certificate program focusing on full-stack web development.`}
        subHeading='Houston Coding Bootcamp'
      />
      <DetailCard
        date='2010-2014'
        heading='M.A. in Humanities — History of Ideas'
        itemText={`An interdisciplinary degree that melded history and philosophy.`}
        subHeading='The University of Texas at Dallas'
      />
      <DetailCard
        date='2007-2010'
        heading='B.A. In Philosophy'
        itemText={`Leveraging a fork of the services developed by Monster, a subsidiary of Randstad, took the lead in several aspects of my team’s setup of a completely new architecture for the company’s multi-brand design system named Orbit for their rebranding initiatives. This included choosing the latest tooling options, styling solutions, and streamlining the consumption of our Figma output.`}
        subHeading='The University of North Texas'
      />
    </div>
  </details>

  <details>
    <summary
      >Projects
      <Icon name='chevron-down' width='1em' height='1em' font-size='2rem' />
    </summary>
    <!-- @ts-expect-error -->
    <div class='content'><DetailCard heading='Coming Soon' /></div>
  </details>
</div>
