span.date {
  color: var(--header-color);
  font-family: CommitMono;
  font-weight: bold;
}

div.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  border-bottom: 0.2rem dashed var(--border-color);
  gap: 1rem;

  padding: 1.5rem 0px;

  &:last-child {
    border: none;
  }
}

div.space {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.description {
  height: 100%;
  width: 100%;
  max-width: 45rem;
}

p {
  color: var(--content-color);
  text-align: just;
  text-wrap: pretty;
  line-height: 1.4;
}

a.job-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
