span.date {
  color: var(--header-color);
  font-family: CommitMono;
  vertical-align: baseline;
  max-width: 7.5rem;
}

div.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  border-bottom: 0.2rem dashed var(--border-color);
  padding: 1.5rem 0px;

  &:last-child {
    border: none;
  }
}

div.space {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 0.5rem;
}

div.description {
  height: 100%;
  width: 100%;
  max-width: 45rem;
  margin-top: 2rem;
}

p {
  color: var(--content-color);
  text-wrap: pretty;
  line-height: 1.4;
}

h3 {
  line-height: normal;
}

h2 {
  line-height: normal;
  max-width: 17.5rem;
}

a.job-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  h3 {
    line-height: 0.9;
  }

  h2 {
    line-height: 1.25;
    max-width: none;
  }

  span.date {
    max-width: none;
  }
}
