/* NOT IN USE  */

main p {
  font-size: clamp(2.25rem, 2vw + 1.5rem, 3.25rem);
  margin: 0;
  text-align: justify;
  margin-bottom: 40dvh;

  &:first-of-type {
    margin-top: 30dvh;
  }
}

@media screen and (max-width: 500px) {
  main p {
    font-size: clamp(1.25rem, 2vw + 1.5rem, 4rem);
  }
  main {
    padding-left: 5dvw;
    padding-right: 5dvw;
  }
}

@supports (view-timeline-name: --written-text) {
  main p {
    view-timeline-name: --written-text;
    view-timeline-axis: block;
    animation-name: fade-in;
    animation-direction: normal;
    animation-timeline: --written-text;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 500px) {
    main {
      padding-left: 5dvw;
      padding-right: 5dvw;
    }
  }
}
