---
import Accordion from './resume-cards.astro';
import Icon from 'astro-icon';
---

<section>
  <header>
    <h1>Nick Sladden</h1>
    <h4>
      Philosophy student turned Web Developer - primarily focused on Front-end,
      UI/UX Engineering, design systems, and building component libraries.
    </h4>
    <div class='links'>
      <a
        class='socials'
        href='mailto:nicholas.sladden@gmail.com'
        aria-label='email'
      >
        <Icon name='mail' width='1em' height='1em' />
      </a>
      <a class='socials' href='tel:+18172397721' aria-label='phone'>
        <Icon name='phone' width='1em' height='1em' />
      </a>
      <a
        class='socials'
        href='https://github.com/SladtheLad'
        target='_blank'
        aria-label='GitHub profile'
      >
        <Icon name='github' width='1em' height='1em' />
      </a>
      <a
        class='socials'
        href='https://www.linkedin.com/in/nick-sladden/'
        target='_blank'
        aria-label='LinkedIn profile'
      >
        <Icon name='linkedin' width='1em' height='1em' />
      </a>
    </div>
  </header>

  <Accordion />
</section>

<style scoped>
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 40rem;
  }

  div.links {
    display: flex;
    height: 100%;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  a.socials {
    display: flex;
    place-content: center;
    place-items: center;
    --corner-border-width: 0.4rem;
    padding: 0.3rem;
    border: var(--corner-border-thickness) solid #0000;
    background: var(--corner-border-gradient);
    transition: all 0.3s;

    font-size: 1.25rem;

    &:hover {
      --corner-border-color: var(--accent);
    }

    &:focus-visible {
      outline: none;
      --corner-border-color: var(--accent);
    }

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }
</style>
