.list {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: disc;
  li {
    list-style-position: inside;
  }
  li::marker {
    content: '\25A9';
    font-size: 1rem;
    color: var(--accent);
  }
  a {
    padding-inline: 0.5rem;
  }
}

.blog_list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: content;
  gap: 2rem;

  list-style: none;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;

  li {
    width: 35ch;
    height: 40ch;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    width: 90dvw;
    grid-column: 2 / 12;
  }
}
