<div class='experiment-container'><slot /></div>

<style scoped>
  .experiment-container {
    display: flex;
    place-content: center;
    place-items: center;
    height: 700px;
    width: 100%;
    margin-block: 2.5rem;
  }
</style>
