<div class='experiment-container'><slot /></div>

<style scoped>
  .experiment-container {
    display: flex;
    place-content: center;
    place-items: center;
    height: 75dvh;
    width: 100%;
  }
</style>
