---
import Layout from './layout.astro';
const { title, description, url } = Astro.props;
---

<Layout title={title} description={description} url={url}>
  <head>
    <title>{title}</title>
  </head>
  <article>
    <slot />
  </article>
</Layout>

<style>
  article {
    container: blog-article;
    container-type: inline-size;
    height: auto;
    width: clamp(16rem, 50dvw, 60rem);
    padding: 2rem;
    margin: auto;
    border-inline: 3px dashed var(--border-color);
    display: block;
    min-height: 100dvh;

    h1,
    h2 {
      padding: 0;
      line-height: 1.4;
      margin-bottom: 1rem;
    }
    h3,
    h4,
    h5,
    h6,
    p {
      padding: 0;
      margin-block: 1rem;
      font-family: 'Space Grotesk', Avenir, sans-serif;
    }

    h2,
    p,
    span {
      color: inherit;
      font-weight: normal;
    }

    hr {
      width: 100%;
      height: 0;
      border: none;
      border-block: 2px dashed var(--accent);
      opacity: var(--accent-opacity);
    }
    p {
      margin-block: 1.5rem;
      width: 100%;
      @container blog-article (width > 1000px) {
        max-inline-size: 68dvw;
        font-size: 1.15rem;
      }
      @container blog-article (width < 1000px) {
        font-size: 1rem;
        max-inline-size: unset;
      }
    }
    a {
      color: var(--link-color);
      text-decoration: none;
      border: none;
      outline: none;
      &:hover,
      &:focus,
      &:focus-visible,
      &:active {
        color: var(--accent);
        outline: 1px dashed var(--accent);
        outline-offset: 0;
      }
    }
    h2 {
      color: var(--header-color);
      font-size: large;
      font-weight: normal;
    }
    h3 {
      color: var(--header-color);
      font-size: 1.1rem;
      font-weight: normal;
      margin-left: 1rem;
    }

    /* Header Links */
    h3,
    h4,
    h5,
    h6 {
      position: relative;

      a {
        position: absolute;
        left: -1rem;
        color: var(--header-color);
        text-decoration: none;
        font-weight: normal;
        border: none;
        outline: none;
        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
          color: var(--accent);
          outline: 1px dashed var(--accent);
          outline-offset: 0.15rem;
        }
      }
    }

    span.date {
      font-size: 0.8rem;
      color: var(--header-color);
      font-weight: 700;
      padding-inline-start: 2rem;
    }
    h6.last-modified {
      font-size: 0.8rem;
    }

    section.blog-heading {
      height: fit-content;
      grid-area: 1 / 2 / 2 / 14;
    }
    section.blog-posts-list {
      width: 100%;
      margin: 0;
      grid-area: 2 / 2 / 6 / 14;
    }
  }

  @media screen and (max-width: 768px) {
    article {
      width: 100%;
      padding-block-start: 6rem;
      border: none;
      padding-inline: 0.75rem;
    }
  }
</style>
