---
import './layout.css';

const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href='/experimental-landing'>Home</a></li>
        <li><a href='/'>Portfolio</a></li>
      </ul>
    </nav>
    <main><slot /></main>
  </body>
</html>

<style scoped>
  nav {
    position: fixed;
    right: 0;
    padding: 1rem;
  }
  nav ul {
    list-style: none;
    font-size: calc(0.5rem + 1dvw);
    text-align: right;

    a {
      text-decoration: none;
      color: var(--link-color);
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
        color: var(--foreground-color);
      }
    }

    @media screen and (max-width: 600px) {
      font-size: calc(1rem + 2.5vw);
    }
  }
</style>
