@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --foreground-color: #f1fcfecc;
  --border-color: #38383f;
  --background-color: #1c1d24;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-color);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5dvh clamp(4dvw, 20dvw, 30dvw) 50dvh clamp(4dvw, 20dvw, 30dvw);
  gap: 2vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.links {
  position: fixed;
  right: 5%;
  top: 5%;
}
