@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --foreground-color: #f1fcfecc;
  --header-color: #8a9192;
  --content-color: #ced7d8;
  --border-color: #38383f;
  --background-color: #1c1d24;
  --link-color: var(--header-color);

  /* Cornered border variables */
  --corner-border-thickness: 2px; /* thickness of the border */
  --corner-border-color: var(--border-color); /* color of the border */
  --corner-border-width: 1rem; /* width of border */
  --corner-border-g: #0000 90deg, var(--corner-border-color) 0;
  --corner-border-p: var(--corner-border-width) var(--corner-border-width)
    border-box no-repeat;

  --corner-border-gradient: conic-gradient(
        from 90deg at top var(--corner-border-thickness) left
          var(--corner-border-thickness),
        var(--corner-border-g)
      )
      0 0 / var(--corner-border-p),
    conic-gradient(
        from 180deg at top var(--corner-border-thickness) right
          var(--corner-border-thickness),
        var(--corner-border-g)
      )
      100% 0 / var(--corner-border-p),
    conic-gradient(
        from 0deg at bottom var(--corner-border-thickness) left
          var(--corner-border-thickness),
        var(--corner-border-g)
      )
      0 100% / var(--corner-border-p),
    conic-gradient(
        from -90deg at bottom var(--corner-border-thickness) right var(--corner-border-thickness),
        var(--corner-border-g)
      )
      100% 100% / var(--corner-border-p);
}

@font-face {
  font-family: CommitMono;
  src: url('fonts/commitmono-400-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CommitMono;
  src: url('fonts/commitmono-700-regular-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  font-family: CommitMono, system-ui;
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
summary {
  color: var(--foreground-color);
  font-family: CommitMono;
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  color: var(--header-color);
  font-weight: normal;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-color);
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2vh;

  @media (min-width: 768px) {
    padding: 10dvh 5dvw;
  }
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

/* .links {
  position: fixed;
  right: 5%;
  top: 5%;
} */
