@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --foreground-color: #f1fcfecc;
  --header-color: #8a9192;
  --content-color: #ced7d8;
  --border-color: #38383f;
  --background-color: #1c1d24;
  --link-color: var(--header-color);
}

@font-face {
  font-family: CommitMono;
  src: url('/fonts/CommitMono-700-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
summary {
  font-family: CommitMono;
  font-weight: bold;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-color);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5dvh clamp(4dvw, 20dvw, 30dvw) 50dvh clamp(4dvw, 20dvw, 30dvw);
  gap: 2vh;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.links {
  position: fixed;
  right: 5%;
  top: 5%;
}
